svg {
  margin: 0;
}

a{
  cursor: pointer;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.name {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 900;
  max-width: fit-content;
  line-break: loose;
  margin-top: 2rem;
  margin-bottom: 0;
}

.brand-link{
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  color: #00ffee;
}

.product-image_container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.product-image {
  width: 250px;
  height: 250px;
  margin-bottom: 1rem;
}

.price {
  font-size: x-large;
}

.quantity-container {
  margin-top: 0.5rem;
}

.quantity {
  margin-right: 0.2rem;
}

.product-detail {
  font-size: 16px;
  line-break: normal;
  margin-top: 1rem;
}

.product-attributes_title {
  font-size: larger;
  padding: 1rem;
  border: #00ffee 2px solid;
  border-radius: 1rem 2rem 1rem 2rem;
}

.product-info {
  text-transform: capitalize;
  text-align: left;
  margin: 1rem;
}

.description-container {
  margin: 2rem 0;
}

.description-text{
  margin-bottom: 1rem;
  margin: 2rem 0;
}

.description {
  white-space: pre-wrap;
  text-align:center ;
  color: rgb(0, 0, 0);
  background-color: dark;
  padding: 0.5rem;
  border-radius: 0.4rem;
  font-size: medium;
  margin-bottom: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
}

.description:nth-child(odd) {
  border: 2px solid #00ffee;
}

.description:nth-child(even){
  border: 2px solid #000000;
}



