.itemdetail {
  width: 100%;
  height: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
}

.itemdetail__article {
  border: 4px solid indigo;
  border-radius: 20px 20px 0 0;
  width: 80%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

/* .itemdetail__header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
} */

.itemdetail__image {
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 100%;
}

.itemdetail__content {
  width: 100%;
  padding: 16px;
}

.itemdetail__brand-info {
  display: flex;
  flex-flow: row wrap;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  font-style: italic;
}

.hover__underline__animation {
  display: inline-block;
  position: relative;
  color: darkviolet;
  cursor: pointer;
}

.hover__underline__animation--reverse {
  display: inline-block;
  position: relative;
  color: #32c2b9;
  cursor: pointer;
}

.hover__underline__animation::after,.hover__underline__animation--reverse::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #32c2b9;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover__underline__animation--reverse::after{
  background-color: darkviolet;
}

.hover__underline__animation:hover::after,.hover__underline__animation--reverse:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.itemdetail__brand-info>span{
  margin-left: auto;
  color: #6c757d;
}

.itemdetail__name {
  font-size: 32px;
  padding: 8px 0;
  font-weight: 600;
  color: black;
}

.itemdetail__description {
  display: flex;
  flex-flow: column;
  gap: 8px;
  font-size: 16px;
}

.description__item {
  font-weight: 400;
  font-size: 16px;
}


.itemdetail__view-more {
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
}




.itemdetail__price-actions {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  font-size: 16px;
  margin-top: 14px;
}

.itemdetail__price {
  font-weight: 700;
  font-size: 20px;
  align-content: center;
}

.itemdetail__price-actions .button__container{
  margin: 0;
}

.button__container .button__product.itemdetail__button {
  padding: 10px;
  border-radius: 4px;
  margin: 0;
  font-size: 14px;
}

/* .button__container{

}

.button__product{

} */

@media(576px < width){
  .itemdetail__price {
    font-weight: 700;
    font-size: 24px;
    align-content: center;
    margin-left: 14px;
  }

  .itemdetail__article{
    width: 70%;
  }
}

@media(1024px < width){

  .itemdetail__article{
    border: 4px solid indigo;
    border-radius: 20px 0 0 20px;
    width: 95vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-top: 12.5vh;
    max-height: max-content;
  }

  .itemdetail__header{
    max-width: 30%;
    border-radius: 16px 0 0 16px;
    min-height: 512px;
    border-right: 4px solid indigo;
  }
  .itemdetail__image{
    min-height: inherit;
    width: 100%;
    border-radius: 16px 0 0 16px;
    object-fit: cover;
  }


  .itemdetail__content{
    display: flex;
    flex-flow: column wrap;
    padding-top: 0;
    padding-bottom: 0;
    min-height: max-content;
  }

  .itemdetail__brand-info{
    margin-top: 8px;
  }
  
  .itemdetail__description{
    padding: 0 8px;
  }
}
