

.itemdetail__container {
  width: 100%;
  height: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
}

.itemdetail {
  width: 80%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.itemdetail__img__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.itemdetail__img {
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 100%;
}

.itemdetail__info {
  width: 100%;
  padding: 16px;
}

.itemdetail__wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 16px;
  text-transform: capitalize;
  color: ;
  font-weight: 500;
}

.itemdetail__wrapper > div > span:hover{
  color: darkviolet;
  cursor: pointer;
  transition: 1s ease;
  text-decoration: overline solid red;
}

.itemdetail__wrapper > span {
  color: #6c757d;
}

.itemdetail__name{
  font-size: 32px;
  padding: 8px 0;
  font-weight: 600;
}

.description__container {
  display: flex;
  flex-flow: column;
  gap: 8px;
  font-size: 16px;
}

.description__item{
  font-weight: 400;
  font-size: 16px;
}


.description__container > span {
  color: red;
}

.show__more__link {
  cursor: pointer;
  color: darkviolet;
  text-decoration: underline;
  margin-top: 10px; /* Ajusta el margen según sea necesario */
}


.description__item {}

.price__button__wrapper {}

.itemdetail__price {}

.itemdetail__button {}