@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

h4 {
  margin-bottom: 0;
}

ul{
  padding: 0;
}

.trashSVG {
  fill: #d32b2e;
}

.trashSVG>svg {
  width: 18px;
  height: 18px;
  vertical-align: sub;
  margin-left: 4px;
}

.sedgwick-ave-display-regular {
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  color: indigo;
  padding: 6rem 3rem 3rem;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}

.cart__empty{
  color: #fff;
  text-shadow: 2px 2px 2px indigo;
  text-align: center;
  font-weight: 900;
}

.cart__container {
  width: 100%;
  font-size: 16px;
  background-image: url("../../assets/background-wallpaper.jpg");
  background-size: auto;
  animation: slidein 100s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


.cart__title {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  display: block;

}

.cart__title>svg {
  vertical-align: baseline;
}

.cart__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0.5rem 0;
  align-items: flex-start;
  background-color: #fff;
  border: 1px rgba(0, 0, 0, 0.067) solid;
  border-radius: 8px 8px 8px 8px;
  padding: 8px 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 8px;
  width: 90%;

}

.item__img__container {
  display: flex;
  align-self: stretch;
}

.item__img {
  width: 65px;
}

.item__wrapper {
  display: flex;
  flex-flow: column wrap;
  font-size: 12px;
  width: 90%;
  height: min-content;
}

.item__title {
  width: 90%;
  font-size: 14px;
  font-weight: 700;
  padding: 0 0 4px;
}


.item__quantity {
  text-transform: capitalize;
}

.item__quantity>span {
  font-weight: 500;
}


.item__price>span {
  font-weight: 500;
}

.item__actions {
  display: flex;
  height: 100%;
  align-self: center;
}

.item__button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 0;
  color: #fff;
  background-color: #22bb33;
  cursor: pointer;
}

.item__button:hover {
  background-color: green;
  transition: 0.5s ease;
}

.item__button:first-of-type {
  margin-right: 4px;
  background-color: #d32b2e;
}

.cart__total {
  text-align: right;
  margin-right: 5%;
  font-weight: 700;
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 20px;
}

.cart__total>span {
  font-weight: 700;
}

.cart__actions {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.cart__actions>button {
  color: #fff;
  text-transform: uppercase;
  width: 90%;
  max-height: 32px;
  padding: 4px;
  border: none;
  background-color: indigo;
  border-radius: 12px;
  cursor: pointer;
}

.cart__actions>p {
  margin: 8px 0;
}

.cart__actions>button:first-of-type {
  margin-bottom: 8px;
}


.cart__actions>button:hover {
  color: rgb(249, 249, 20);
  transition: 0.5s ease;
}

.more__items__container{
  padding: 3rem 0 5rem;

}

.more__items__container>p {
  font-size: 24px;
  text-align: center;
  padding: 0 8px;
  margin: 0 0 40px;
  font-weight: 900;
  letter-spacing: 4px;
  background-color: rgba(0, 0, 0, 0.067);
}

.more__items {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.more__items>li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more__items > li > article > .info_container > .product_name-container{
  min-height: 80px;
}

@media(width > 575.98px) {

  .cart__container--title{
    padding: 8rem 3rem 4rem;
  }

  .item__img {
    width: 80px;
    height: 80px;
  }

  .item__title {
    font-size: 16px;
  }

  .item__quantity {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .item__price {
    font-size: 16px;
  }

  .cart__total {
    font-size: 20px;
    position: relative;
    top: 3px;
  }

  .cart__actions {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: center;
    padding-left: 16px;
  }

  .cart__actions>button {
    width: 32%;
  }

  .cart__actions>p {
    margin: 1rem;
  }

  .cart__actions>button:first-of-type {
    margin-right: 1rem;
  }

  .more__items {
    display: flex;
    flex-flow: row;
    align-items: baseline;
  }

  .more__items>li {
    align-items: baseline;
  }
}

@media(width > 992px) {
  .sedgwick-ave-display-regular {
    font-size: 52px;
  }

  .more__items__container > p {
    font-size: 40px !important;
    margin: 0 0 3rem;
  }

  .item {
    width: 90%;
    padding: 16px;
  }

  .item__wrapper {
    margin-left: 8px;
  }

  .cart__total {
    font-size: 24px;
    top: 5px;
  }

  .cart__actions {
    justify-content: flex-end;
    margin-left: 0;
    width: 95%;
  }
}
