ul {
  margin: 0;
  padding: 0;
}


.navbar_container {
  width: 100%;
  background-color: rgb(36, 36, 13);
  position: sticky;
  top: 0px;
  z-index: 1;
  font-family: 'Poppins', sans-serif;
}

.navbar_list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar_category {
  padding: 1rem 0.5rem;
  position: relative;
}

.navbar_category-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px grey;
  font-size: min(3vw,20px);
}

.navbar_category-link:hover {
  transition: 0.5s;
  color: #32c2b9;
}

.sub-menu {
  display: none;
  list-style: none;
  opacity: 0; /* 0 */
  position: absolute;
  top: 135%;
  left: 0;
  width: 100%;
  z-index: 1; /* -1 */
  transition: 0.5;
}

.navbar_category:focus .sub-menu,
.navbar_category:hover .sub-menu {
  opacity: 1;
  transform: translateY(-1.3rem);
  transition: 0.5;
  display: block;
}

.sub-menu_link {
  min-width: fit-content;
  position: relative;
  background-color: #fff;
  border: black 2px solid;
  border-width:0 2px 2px 2px;
  padding: 0.4rem 0.4rem;
  position: relative;
  font-size: 0.9rem;
  line-break: auto;
  text-transform: capitalize;
  text-align: left;
  
}

.sub-menu_link a:visited {
  color: black;
  text-align: center;
  text-decoration: none;
}

.sub-menu_link a:hover{
  transition: 0.5s;
  color:  darkorchid;
  text-shadow: 1px 1px 2px grey;

}

.link{
  text-decoration: none;
}




