ul {
  margin: 0;
  padding: 0;
}


.navbar_container {
  width: 100%;
  background-color: rgb(36, 36, 13);
  position: sticky;
  top: 0px;
  z-index: 1;
  font-family: 'Poppins', sans-serif;
}

.navbar_list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar_category {
  padding: 1rem 0.5rem;
  position: relative;
}

.navbar_category-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px grey;
  font-size: 0.8rem;
}

.navbar_category-link:hover {
  transition: 0.5s;
  color: rgb(255, 255, 0);
}

.sub-menu {
  display: none;
  list-style: none;
  opacity: 0; /* 0 */
  position: absolute;
  top: 135%;
  left: 0;
  width: 100%;
  z-index: 1; /* -1 */
  transition: all 0.5s ease-in-out 0.5, visibility 0.5s linear 0.5s,
    z-index 0.5s linear 0.01s;
}

.navbar_category:focus .sub-menu,
.navbar_category:focus-within .sub-menu,
.navbar_category:hover .sub-menu {
  opacity: 1;
  z-index: 1;
  transform: translateY(-1.2rem);
  transition-delay: 0.5s, 0.5s, 0.5s;
  display: block;
}

.sub-menu_link {
  background-color: #fff;
  border: black 2px solid;
  border-width:0 2px 2px 2px;
  padding: 0.4rem 1rem;
  position: relative;
}

.sub-menu_link a:visited {
  color: black;
  text-align: center;
  text-decoration: none;
}

.sub-menu_link a:hover{
  transition: 0.5s;
  color:  darkorchid;
  text-shadow: 1px 1px 2px grey;

}

.link{
  text-decoration: none;
}




@media (min-width: 576px) {
  .navbar_category {
    padding: 1rem 2rem;
  }

  .navbar_category-link {
    font-size: 1rem;
  }
}
