*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p{
  margin: 0;
}

h1,h2,h3{margin-bottom: 0;}

body{
  margin-bottom: 3rem;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

@media (prefers-color-scheme: dark){
  body{
    background-color: #222f3e;
  }
}