@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

:root{
  --fs24: 24px;
}

.hover__underline__animation {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.hover__underline__animation--reverse {
  display: inline-block;
  position: relative;
  color: #32c2b9;
  cursor: pointer;
}


.hover__underline__animation::after,
.hover__underline__animation--reverse::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #32c2b9;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover__underline__animation--reverse::after {
  background-color: darkviolet;
}

.hover__underline__animation:hover::after,
.hover__underline__animation--reverse:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  margin-bottom: 3rem;
}